:root {

    --rosa: #FF80A1;
    --azul: #24263B;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Heebo', sans-serif;
}

#container {
    display: grid;
}

header {
    background-color: var(--azul);
    padding: 20px;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
    justify-content: end;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--rosa);
}

main {
    padding: 100px 20px;
    max-width: 900px;
    margin: 0 auto;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.conteudo h1 {
    color: var(--azul);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.botao-curriculo {
    display: inline-block;
    background-color: var(--rosa);
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 30px;
    text-decoration: none;
}

.botao-curriculo:hover {
    filter: brightness(110%);
    transform: translateY(-2px);
}

.icone {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 10px 25px #EDF7FA;
}