:root {
    --rosa: #FF80A1;
    --azul: #24263B;
    --cor-fundo: white;
    --cor-texto: black;
    --cor-titulo: #24263B;
    --cor-card-bg: white;
    --cor-sombra: #C4DFEC;
    --cor-borda: #C2CCCA;
}

.dark-mode {
    --cor-fundo: #121212;
    --cor-texto: white;
    --cor-titulo: white;
    --cor-card-bg: #1e1e1e;
    --cor-sombra: #000000;
    --cor-borda: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Heebo', sans-serif;
}

#container {
    display: grid;
}

header {
    background-color: var(--azul);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--rosa);
}

.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    width: 70px;
    height: 32px;
    background-color: #575B7D;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    transition: background-color 0.3s;
}

.toggle-circulo {
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 5px;
    transition: transform 0.3s;
    z-index: 2;
}

.toggle i {
    font-size: 16px;
    z-index: 3;
    transition: color 0.3s;
    pointer-events: none;
}

.fa-sun {
    color: var(--rosa);
}

.fa-moon {
    color: #B8C1EC;
}

.toggle input:checked ~ .toggle-circulo {
    transform: translateX(34px);
}

.toggle:has(input:focus-visible) {
    outline: 2px solid white;
    outline-offset: 3px;
}

.toggle input:checked ~ .fa-sun {
    color: #B8C1EC;
}
.toggle input:checked ~ .fa-moon {
    color: var(--rosa);
}

html {
    scroll-behavior: smooth;
}

main {
    padding: 100px 20px;
    max-width: 900px;
    margin: 0 auto;
}

section {
    scroll-margin-top: 100px;
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.sobre h1 {
    color: var(--cor-titulo);
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 5px;
}

.botao-curriculo {
    display: inline-block;
    background-color: var(--rosa);
    color: white;
    border-radius: 8px;
    padding: 15px 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.botao-curriculo i {
    margin-right: 8px;
}

.botao-curriculo:hover {
    filter: brightness(110%);
    transform: translateY(-2px);
}

.icone {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 10px 25px var(--cor-sombra);
}

.habilidades h2 {
    color: var(--cor-titulo);
    font-size: 28px;
    grid-column: 1 / -1;
    text-align: left;
}

.skills {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 40px;
}

.hard-skills,
.soft-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    text-align: center;
}

.skills i {
    font-size: 40px;
}


.skills h3 {
    color: var(--rosa);
}

.projetos {
    padding: 50px 0px;
}

.projetos h2 {
    color: var(--cor-titulo);
    font-size: 28px;
    margin-top: 40px;
}

.trabalhos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 0px 20px;
}

.card-projeto {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: center;
    margin-top: 30px;
    border-bottom: 1px solid var(--cor-borda);
    padding-bottom: 30px;
}

.thumbnail {
    width: 100%;
    max-width: 280px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 10px 25px var(--cor-sombra);

}

.thumbnail:hover {
    transform: translateY(-2px);
}

.info-projetos {
    align-self: start;
}

.info-projetos h3 {
    color: var(--rosa);
    margin-bottom: 10px;
    font-size: 24px;
}

.botao-projeto {
    display: inline-block;
    background-color: var(--azul);
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 16px;
    margin-top: 15px;
    text-decoration: none;
}

.botao-projeto i {
    margin-right: 8px;
}

.botao-projeto:hover {
    filter: brightness(120%);
    transform: translateY(-2px);
}

footer {
    background-color: var(--rosa);
    padding: 25px 0px;
    text-align: center;
    margin-top: 50px;
}

.redes {
    display: grid;
    grid-template-columns: repeat(2, 30px);
    justify-content: center;
    gap: 35px;
    margin-bottom: 25px;
}

.redes a {
    font-size: 40px;
    color: var(--azul);
}

.redes a:hover {
    color: white;
}